<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>The Wall</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md shadow">
        <div class="container-fluid"><a class="navbar-brand text-dark" href="#">Coding Dojo Wall&nbsp;</a><button
                data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle
                    navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav">
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                </ul>
            </div>
            <p class="mt-3 mr-5">Welcome {{ user.first.name }}</p><a href="log_out">log out</a>
        </div>
    </nav>
    <div class="container mt-5">
        <h5>Post a message</h5>
        <form action="/post_create">
            <div class="form-group text-right"><textarea
                    class="border rounded-0 border-dark form-control form-control-lg"
                    placeholder="Your message here.."></textarea><button class="btn btn-primary text-right mt-3"
                    type="submit">Post a message</button>
            </div>
        </form>
        <div class="container mt-5">
            <div class="row">
                <div class="col border rounded-2 border-dark shadow ">
                    {% for post in posts %}
                    <p>Posted by:{{ post.creator.first_name }}:{{ post.content }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>

        <h5>Post a comment</h5>
        <form action="/comment_create" method="post">
            <div class="form-group text-right"><textarea
                    class="border rounded-0 border-dark form-control form-control-lg"
                    placeholder="Your message here.."></textarea><button class="btn btn-success text-right mt-3"
                    type="submit">Post a comment</button></div>
        </form>
    </div>
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>